<div class="field">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", customer_session_path %><br />
  <% end %>
</div>
<div class="field">
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_customer_registration_path %><br />
  <% end %>
</div>
