<%= form_with model: company, url: companys_path, method: :post do |f| %>

<div class="company__name">
  <div> <%= f.label :name, "会社名" %></div>
  <div><%= f.text_field :name, placeholder: "株式会社A" %></div>
  <div><%= f.submit '新規登録', class: "button button__sm" %></div>
<% end %>
</div>