<div class="order">
  <h2>出荷履歴一覧</h2>
    <table>
      <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>宛名</th>
        </tr>
      </thead>
      <tbody>
         <% @orders.each do |order| %>
        <tr>
          
          <td><%= order.created_at.strftime('%Y/ %m/ %d') %></td>
          <td><%= "〒#{order.address.post_code}" + " " + "#{order.address.address}"  %></td>
          <td><%= order.address.name %></td>
          <td><%= link_to "表示する", admin_order_path(order), class: "btn btn-primary"  %></td>
        </tr> 
        <% end %>
      </tbody>
    </table>
</div>